<!-- ========== Left Sidebar Start ========== -->
@using Itc.Hris.Application.Interfaces
@inject IMenu menuSet
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var roleIdClaim = HttpContextAccessor.HttpContext?.User.FindFirst("RoleId")?.Value;
    int roelid = int.TryParse(roleIdClaim, out var id) ? id : 0;
    var userMenu = await menuSet.GetMenuList(roelid);
}


<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>
                @if (userMenu != null)
                {
                    foreach (var item in userMenu)
                    {
                        if (item.IsMainMenu == 1)
                        {
                            <li>
                                <a href="javascript:void(0);" class="has-arrow waves-effect">
                                    <i class="ri-store-2-line"></i>
                                    <span>@item.MenuName</span>
                                </a>

                                <ul class="sub-menu" aria-expanded="false">
                                    @if (item.SubMenus != null)
                                    {
                                        foreach (var subitem in item.SubMenus)
                                        {
                                            <li>
                                                <a href="@subitem.Urls">@subitem.MenuName</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@item.Urls" class="waves-effect">
                                    <i class="ri-store-2-line"></i>
                                    <span>@item.MenuName</span>
                                </a>
                            </li>
                        }
                    }
                    
                }
                
              @*   <li>
                    <a href=@Url.Action("Index", "Dashboard") class="waves-effect">
                        <i class="ri-dashboard-line"></i><span class="badge rounded-pill bg-success float-end">3</span>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href=@Url.Action("Index", "Calendar") class=" waves-effect">
                        <i class="ri-calendar-2-line"></i>
                        <span>Calendar</span>
                    </a>
                </li>

                <li>
                    <a href=@Url.Action("Index", "AppsChat") class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Chat</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Ecommerce</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("Index", "EcommerceProducts")>Products</a></li>
                        <li><a href=@Url.Action("Index", "EcommerceProductDetail")>Product Detail</a></li>
                        <li><a href=@Url.Action("Index", "EcommerceOrders")>Orders</a></li>
                        <li><a href=@Url.Action("Index", "EcommerceCustomers")>Customers</a></li>
                        <li><a href=@Url.Action("Index", "EcommerceCart")>Cart</a></li>
                        <li><a href=@Url.Action("Index", "EcommerceCheckout")>Checkout</a></li>
                        <li><a href=@Url.Action("Index", "EcommerceShops")>Shops</a></li>
                        <li><a href=@Url.Action("Index", "EcommerceAddProduct")>Add Product</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-mail-send-line"></i>
                        <span>Email</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("Index", "EmailInbox")>Inbox</a></li>
                        <li><a href=@Url.Action("Index", "EmailRead")>Read Email</a></li>
                    </ul>
                </li>

                <li>
                    <a href=@Url.Action("Index", "AppsKanbanBoard") class="waves-effect">
                        <i class="ri-artboard-2-line"></i>
                        <span>Kanban Board</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Settings</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("Index", "UserRole", new{Area="Admin"})>Role List</a></li>
                        
                    </ul>
                </li>      *@          

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->

