@{
    
    ViewBag.Title = "EmployeeWiseApproval";
    ViewBag.pTitle = "EmployeeWiseApproval";
    ViewBag.pageTitle = "HRIS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="@Url.Content("~/assets/libs/select2/css/select2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/libs/toastr/build/toastr.min.css")">
}
<style>
    .card-header {
        background-color: rgb(255 255 255) !important;
    }

    .nav-tabs .nav-link.active {
        font-weight: 700;
        color: darkblue !important;
    }

    .action-btns {
        opacity: 0;
        transition: 0.2s;
    }

    .role-row:hover .action-btns {
        opacity: 1;
    }

    .avatar-circle {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: linear-gradient(135deg, #4e73df, #1cc88a);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Employee Wise Approval</div>
            <div class="card-body">
            </div>
            
        </div>
    </div>
</div>




@section scripts {
    <!-- apexcharts -->
    <script src="@Url.Content("~/assets/libs/select2/js/select2.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/spectrum-colorpicker2/spectrum.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js")"></script>
    <script src="@Url.Content("~/assets/libs/datatables.net/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/assets/js/pages/datatables.init.js")"></script>
    <script src="@Url.Content("~/assets/libs/toastr/build/toastr.min.js")"></script>

    <!-- toastr init -->
    <script src="@Url.Content("~/assets/js/pages/toastr.init.js")"></script>
    <script src="@Url.Content("~/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js")"></script>
    <script src="@Url.Content("~/assets/js/pages/form-advanced.init.js")"></script>
    <script src="@Url.Content("~/assets/js/app.js")"></script>


}
<script src="~/assets/libs/jquery/jquery.min.js"></script>