@model IEnumerable<Itc.Hris.Model.Entities.Role>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.Name</td>
                <td>@r.Description</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary btn-edit" data-id="@r.Id">Edit</button>
                    <button class="btn btn-sm btn-outline-danger btn-delete" data-id="@r.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
